html body{
    background: #f1f1f1;
}

body p{
    margin-bottom: 0;
}
.js .postbox .hndle{
    cursor: default;
}


.postbox .info{
    margin: 11px 0 0;
    position: relative;
    background: #f5f5f5;
    display: block;
    padding: 8px 12px 8px 32px;
}

.postbox .info > .dashicons-info{
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -0.5em;
}


.save-action .spinner{
    float: none;
}

.postbox table tr td:last-child, .postbox table tr th:last-child{
    text-align: right;
}
.postbox table tr td{
    vertical-align: top;
}


.postbox table tr:last-child td{
    border-bottom: none;
}

.postbox table th{
    background: #f8f8f8;
    font-weight: lighter;
    padding-top: 4px;
    padding-bottom: 4px;
    line-height: 16px;
}

body #toast-container>div{
    opacity: 1;
}


.label.vld_message{
    clear: both;
    margin-top: 4px;
}

/*.wp-nuxt-wrap .postbox .inside{*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/